<head>
  {% include domain_redirect.html %}
  {% if site.inc_before_head %}
    {% include {{ site.inc_before_head }} %}
  {% endif %}
 
  {% include git-wiki/sections/head/meta.html %}
  {% include git-wiki/sections/head/scripts.html %}
  {% include git-wiki/sections/head/styles.html %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1171bb">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  {% if site.inc_after_head %}
  {% include {{ site.inc_after_head }} %}
  {% endif %}
</head>