<div class="git-wiki-page">
  <section>
    {% include git-wiki/sections/tools/tools.html %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-people-content">
      <div class="peopledescription">
        <h1>{{page.title}}</h1>

        {{ content }}
      </div>
      <div class="sidebar">
        <div class="details">
          <h6>{{ page.title }}</h6>

          <div class="featured_image">
            {% if page.image %}
            {% capture alt_text %}
            {% if page.image_alt %}{{ page.image_alt }}
            {% else %}{{ page.title }}
            {% endif %}
            {% endcapture %}
            <figure class="image">

              <img src="{{ '/media/headshots/' | append: page.image }}" alt="{{ alt_text }}">
              {% if page.image_caption or page.image_credit %}
              <figcaption>
                {% if page.image_caption %}
                {{ page.image_caption }}
                {% endif %}
                {% if page.image_caption and page.image_credit %} | {% endif %}
                {% if page.image_credit %}
                (📷 {{ page.image_credit }})
                {% endif %}
              </figcaption>
              {% endif %}

              {% endif %}
            </figure>
          </div>

          {% assign details = page.Details %}

          <table class="people_details">
            <tbody>

              <!-- Creates an AKA section at the top -->
              {% if page.redirect_from %}
              <tr>
                <td class="leftcol">Other names</td>
                <td>
                  {% for redirect_url in page.redirect_from %}
                  {% assign redirect_name = redirect_url | remove: "/people/" | replace: "_", " " %}
                  {% if forloop.last %}
                  {{ redirect_name }}
                  {% elsif forloop.length > 1 and forloop.index == forloop.length | minus: 1 %}
                  {{ redirect_name }}, and
                  {% else %}
                  {{ redirect_name }},
                  {% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endif %}

              {% for detail in details %}
              {% assign key = detail[0] | downcase %}
              {% assign value = detail[1] %}
              {% if value != "" and value != nil %}
              {% assign split_values = value | split: "|" %}
              {% if split_values.size > 1 %}
              {% assign value_name = split_values[0] | strip %}
              {% assign value_url = split_values[1] | strip %}
              {% else %}
              {% assign value_name = value %}
              {% assign value_url = value %}
              {% endif %}


              {% if key == 'address' %}
              <tr>
                <td class="leftcol">Address</td>
                <td>
                  {% assign address_lines = value | newline_to_br | strip | split: '<br />' %}
                  {% for address_line in address_lines %}
                  {{ address_line }}<br>
                  {% endfor %}
                  <ul>
                    <li><a href="https://www.google.com/maps/search/?api=1&query={{ value | uri_escape }}">Google
                        Maps</a>
                    </li>
                    <li><a href="https://maps.apple.com/?q={{ value | uri_escape }}">Apple Maps</a></li>
                  </ul>
                </td>
              </tr>
              {% elsif key == 'web' or key == 'website' %}
              <tr>
                <td class="leftcol">{{ key | capitalize }}</td>
                <td><a target="_blank" href="{{ value_url }}">{{ value | split: '://' | last | split: 'www.' | last
                    }}</a>
                </td>
              </tr>
              {% elsif key == 'facebook' %}
              <tr>
                <td class="leftcol">Facebook</td>
                <td><a href="https://www.facebook.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'twitter' %}
              <tr>
                <td class="leftcol">Twitter</td>
                <td><a href="https://twitter.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'instagram' %}
              <tr>
                <td class="leftcol">Instagram</td>
                <td><a href="https://www.instagram.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'linkedin' %}
              <tr>
                <td class="leftcol">LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'ibdb' %}
              <tr>
                <td class="leftcol">IBDB</td>
                <td><a href="https://www.ibdb.com/broadway-cast-staff/{{ value_url }}" target="_blank">{{ value_name
                    }}</a></td>
              </tr>
              {% elsif key == 'imdb' %}
              <tr>
                <td class="leftcol">IMDb</td>
                <td><a href="https://www.imdb.com/name/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'wikipedia' %}
              <tr>
                <td class="leftcol">Wikipedia</td>
                <td><a href="https://en.wikipedia.org/wiki/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% else %}
              <tr>
                <td class="leftcol">{{ detail[0] }}</td>
                <td>{{ value }}</td>
              </tr>
              {% endif %}
              {% endif %}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="additional-content">
        {% assign person_names = page.title | remove: "." | split: "|" %}

        {% if page.redirect_from %}
          {% for redirect_url in page.redirect_from %}
            {% assign redirect_name = redirect_url | remove: "/people/" | replace: "_", " " | remove: "." %}
            {% assign redirect_names = redirect_name | split: "|" %}
            {% assign person_names = person_names | concat: redirect_names %}
          {% endfor %}
        {% endif %}

        {% assign person_cast_credits = "" | split: "" %}
        {% assign person_crew_credits = "" | split: "" %}

        {% for p in site.pages %}
        {% if p.details and p.details.Theatre %}
          {% if p.cast %}
            {% assign cast_items = p.cast | items %}
            {% for cast_item in cast_items %}
              {% assign key = cast_item[0] %}
              {% assign value = cast_item[1] %}
              {% assign name_found = false %}
              {% assign value_no_periods = value | replace: ".", "" %}
              {% for name in person_names %}
                {% assign name_no_periods = name | replace: ".", "" %}
                {% if value_no_periods contains name_no_periods %}
                  {% assign name_found = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% if name_found %}
                {% if p.showtimes %}
                  {% assign production_year = p.showtimes | newline_to_br | strip_html | split: " " | first | split: "-" | first %}
                {% else %}
                  {% assign filename = p.path | split: "/" | last %}
                  {% assign production_year = filename | slice: 0,4 %}
                {% endif %}
                {% assign theatre_url = p.details.Theatre | replace: " ", "_" %}
                {% capture credit %}
                  <tr>
                    <td>{{ production_year }}</td>
                    <td>{{ key }}</td>
                    <td><a href="{{ p.url }}">{{ p.title }}</a></td>
                    <td><a href="/theatres/{{ theatre_url }}">{{ p.details.Theatre }}</a></td>
                  </tr>
                {% endcapture %}
                {% unless person_cast_credits contains credit %}
                  {% assign person_cast_credits = person_cast_credits | push: credit %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if p.crew %}
            {% assign crew_items = p.crew | items %}
            {% for crew_item in crew_items %}
              {% assign key = crew_item[0] %}
              {% assign value = crew_item[1] %}
              {% assign name_found = false %}
              {% assign value_no_periods = value | replace: ".", "" %}
              {% for name in person_names %}
                {% assign name_no_periods = name | replace: ".", "" %}
                {% if value_no_periods contains name_no_periods %}
                  {% assign name_found = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% if name_found %}
                {% if p.showtimes %}
                  {% assign production_year = p.showtimes | newline_to_br | strip_html | split: " " | first | split: "-" | first %}
                {% else %}
                  {% assign filename = p.path | split: "/" | last %}
                  {% assign production_year = filename | slice: 0,4 %}
                {% endif %}
                {% assign theatre_url = p.details.Theatre | replace: " ", "_" %}
                {% capture credit %}
                  <tr>
                    <td>{{ production_year }}</td>
                    <td>{{ key }}</td>
                    <td><a href="{{ p.url }}">{{ p.title }}</a></td>
                    <td><a href="/theatres/{{ theatre_url }}">{{ p.details.Theatre }}</a></td>
                  </tr>
                {% endcapture %}
                {% unless person_crew_credits contains credit %}
                  {% assign person_crew_credits = person_crew_credits | push: credit %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}

          {% if person_cast_credits.size > 0 %}
            <div class="castcredits">
              <h2>Cast credits</h2>
              <table>
                <thead>
                  <tr>
                    <th>Year</th>
                    <th>Role</th>
                    <th>Show</th>
                    <th>Theatre</th>
                  </tr>
                </thead>
                <tbody>
                  {% for credit in person_cast_credits %}
                    {{ credit }}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
  
          {% if person_crew_credits.size > 0 %}
            <div class="crewcredits">
              <h2>Crew credits</h2>
              <table>
                <thead>
                  <tr>
                    <th>Year</th>
                    <th>Role</th>
                    <th>Show</th>
                    <th>Theatre</th>
                  </tr>
                </thead>
                <tbody>
                  {% for credit in person_crew_credits %}
                    {{ credit }}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
      </div>
    </div>

    
    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </section>
</div>