<div class="git-wiki-page">
  <section>
    {% include git-wiki/sections/tools/tools.html %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-people-content">
      <div class="peopledescription">
        <h1>{{page.title}}</h1>

        {{ content }}
      </div>
      <div class="sidebar">
        <div class="details">
          <h6>{{ page.title }}</h6>

          <div class="featured_image">
            {% if page.image %}
            {% capture alt_text %}
            {% if page.image_alt %}{{ page.image_alt }}
            {% else %}{{ page.title }}
            {% endif %}
            {% endcapture %}
            <figure class="image">

              <img src="{{ '/wiki/media/headshots/' | append: page.image }}" alt="{{ alt_text }}">
              {% if page.image_caption or page.image_credit %}
              <figcaption>
                {% if page.image_caption %}
                {{ page.image_caption }}
                {% endif %}
                {% if page.image_caption and page.image_credit %} | {% endif %}
                {% if page.image_credit %}
                (📷 {{ page.image_credit }})
                {% endif %}
              </figcaption>
              {% endif %}

              {% endif %}
            </figure>
          </div>

          <table class="people_details">
            <tbody>

              {% if page.birth_info %}
              <tr>
                <td class="leftcol">Born</td>
                <td>
                  {% if page.birth_info.birth_name %}
                  {{ page.birth_info.birth_name }}
                  {% if page.birth_info.birth_date or page.birth_info.birth_place %}<br>{% endif %}
                  {% endif %}
                  {% if page.birth_info.birth_date %}
                  {{ page.birth_info.birth_date | date: "%B %-d, %Y" }}
                  {% if page.birth_info.birth_place %}<br>{% endif %}
                  {% endif %}
                  {% if page.birth_info.birth_place %}
                  {{ page.birth_info.birth_place }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}

              {% if page.other_names %}
              <tr>
                <td class="leftcol">Other names</td>
                <td>
                  {% if page.birth_info and page.birth_info.birth_name %}
                  {% assign birth_name = page.birth_info.birth_name %}
                  {% endif %}
                  {% for other_name in page.other_names %}
                  {% assign other_name_processed = other_name | replace: "-", " " %}
                  {% unless other_name_processed == birth_name %}
                  {% if forloop.last %}
                  {{ other_name_processed }}
                  {% elsif forloop.length > 1 and forloop.index == forloop.length | minus: 1 %}
                  {{ other_name_processed }}, and
                  {% else %}
                  {{ other_name_processed }},
                  {% endif %}
                  {% endunless %}
                  {% endfor %}
                </td>
              </tr>
              {% endif %}

              {% assign details = page.details %}
              {% for detail in details %}
              {% assign key = detail[0] | downcase %}
              {% assign value = detail[1] %}
              {% if value != "" and value != nil %}
              {% assign split_values = value | split: "|" %}
              {% if split_values.size > 1 %}
              {% assign value_name = split_values[0] | strip %}
              {% assign value_url = split_values[1] | strip %}
              {% else %}
              {% assign value_name = value %}
              {% assign value_url = value %}
              {% endif %}

              {% if key == 'web' or key == 'website' %}
              <tr>
                <td class="leftcol">{{ key | capitalize }}</td>
                <td><a target="_blank" href="{{ value_url }}">{{ value | split: '://' | last | split: 'www.' | last
                    }}</a>
                </td>
              </tr>
              {% elsif key == 'facebook' %}
              <tr>
                <td class="leftcol">Facebook</td>
                <td><a href="https://www.facebook.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'twitter' %}
              <tr>
                <td class="leftcol">Twitter</td>
                <td><a href="https://twitter.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'instagram' %}
              <tr>
                <td class="leftcol">Instagram</td>
                <td><a href="https://www.instagram.com/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'linkedin' %}
              <tr>
                <td class="leftcol">LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'ibdb' %}
              <tr>
                <td class="leftcol">IBDB</td>
                <td><a href="https://www.ibdb.com/broadway-cast-staff/{{ value_url }}" target="_blank">{{ value_name
                    }}</a></td>
              </tr>
              {% elsif key == 'imdb' %}
              <tr>
                <td class="leftcol">IMDb</td>
                <td><a href="https://www.imdb.com/name/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% elsif key == 'wikipedia' %}
              <tr>
                <td class="leftcol">Wikipedia</td>
                <td><a href="https://en.wikipedia.org/wiki/{{ value_url }}" target="_blank">{{ value_name }}</a></td>
              </tr>
              {% else %}
              <tr>
                <td class="leftcol">{{ detail[0] }}</td>
                <td>{{ value }}</td>
              </tr>
              {% endif %}
              {% endif %}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

      <div class="additional-content">
      <!-- Credits -->
      {% assign person_names = page.title | remove: "." | split: "|" %}
      
      {% if page.other_names %}
        {% for other_name in page.other_names %}
          {% assign other_name_processed = other_name | replace: "-", " " | remove: "." %}
          {% assign other_names_processed = other_name_processed | split: "|" %}
          {% assign person_names = person_names | concat: other_names_processed %}
        {% endfor %}
      {% endif %}
      
      {% assign person_cast_credits = false %}
      {% assign person_understudy_credits = false %}
      {% assign person_crew_credits = false %}
      {% assign person_orchestra_credits = false %}
    
      {% assign sorted_productions = site.productions | sort: 'year' | reverse %}
      {% assign grouped_productions = sorted_productions | group_by: 'year' %}
      
      {% assign sections = "cast|understudy|crew|orchestra" | split: "|" %}
      {% for section in sections %}
        {% for year_group in grouped_productions %}
          {% assign yearly_productions = year_group.items | sort: 'opening_date' | reverse %}
          {% for production in yearly_productions %}
            {% if production.details and production[section] %}
              {% assign cast_items = production[section] | items %}
              {% assign roles_for_this_production = "" %}
              {% for cast_item in cast_items %}
                {% assign key = cast_item[0] %}
                {% assign value = cast_item[1] %}
                {% assign name_found = false %}
                {% assign value_no_periods = value | replace: ".", "" %}
                {% for name in person_names %}
                  {% assign name_no_periods = name | replace: ".", "" %}
                  {% if value_no_periods contains name_no_periods %}
                    {% assign name_found = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% if name_found %}
                  {% if roles_for_this_production != "" %}
                    {% assign roles_for_this_production = roles_for_this_production | append: ", " %}
                  {% endif %}
                  {% assign roles_for_this_production = roles_for_this_production | append: key %}
                {% endif %}
              {% endfor %}
              {% if roles_for_this_production != "" %}
                {% if section == 'cast' and person_cast_credits == false %}
                  <h2>Cast credits</h2>
                  {% assign person_cast_credits = true %}
                {% endif %}
                {% if section == 'understudy' and person_understudy_credits == false %}
                  <h2>Understudy credits</h2>
                  {% assign person_understudy_credits = true %}
                {% endif %}
                {% if section == 'crew' and person_crew_credits == false %}
                  <h2>Crew credits</h2>
                  {% assign person_crew_credits = true %}
                {% endif %}
                {% if section == 'orchestra' and person_orchestra_credits == false %}
                  <h2>Orchestra credits</h2>
                  {% assign person_orchestra_credits = true %}
                {% endif %}
    
                <div class="row mb-2 productions align-items-center p-2" data-production-title="{{ production.title | downcase }}">
                  <div class="col-lg-1 col-1 production_poster">
                    {% assign image = production.image %}
                    {% if image == nil %}
                      {% for show in site.shows %}
                        {% if show.title == production.title %}
                          {% assign image = show.image %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% if image %}
                      <img src="{{ image | prepend: '/wiki/media/posters/' }}" alt="{{ production.title }}" class="img-fluid">
                    {% else %}
                      <img src="/wiki/media/default/production_poster.png" alt="Default Production Image" class="img-fluid">
                    {% endif %}
                  </div>
                  <div class="col-lg-11 col-8">
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="d-flex flex-column justify-content-center h-100">
                          <div class="production_title">
                            <a href="{{ production.url }}" class="">
                              {% if production.title %}
                                {{ production.title }}
                              {% else %}
                                {{ production.url | remove: '.md' | remove: '/' }}
                              {% endif %}
                            </a>
                            <div class="production_roles">
                              {{ roles_for_this_production }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-6 text-lg-end"> 
                        {% if production.opening_date and production.closing_date %}
                          {{ production.opening_date | date: "%m/%d/%Y" }} &mdash; {{ production.closing_date | date: "%m/%d/%Y" }}
                        {% elsif production.opening_date %}
                          {% if production.opening_date.size == 7 %}
                            {{ production.opening_date | append: "-01" | date: "%m/%d/%Y" }}
                          {% else %}
                            {{ production.opening_date | date: "%m/%d/%Y" }}
                          {% endif %}
                        {% else %}
                          {{ production.year }}
                        {% endif %}
                        <div class="text-truncate">
                          {% if production.details.Theatre %}
                            {{ production.details.Theatre }}
                          {% endif %}
                        </div>
                        <div class="text-truncate">
                          {% if production.details.Venue %}
                            {{ production.details.Venue }}
                          {% endif %}
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>    
    
    
    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </section>
</div>