<div class="git-wiki-page">
  <section>

    {% include git-wiki/sections/tools/tools.html %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-productions-content">
      <div class="showdescription">
        <h1>{{page.title}}</h1>

        {{ content }}
      </div>

      <div class="sidebar">
        <div class="details">
          <h6>{{ page.title }}</h6>

          <div class="featured_image">
            {% if page.image %}
            {% capture alt_text %}
            {% if page.image_alt %}{{ page.image_alt }}
            {% else %}{{ page.title }}
            {% endif %}
            {% endcapture %}
            <figure class="image">

              <img src="{{ '/media/posters/' | append: page.image }}" alt="{{ alt_text }}">
              {% if page.image_caption or page.image_credit %}
              <figcaption>
                {% if page.image_caption %}
                {{ page.image_caption }}
                {% endif %}
                {% if page.image_caption and page.image_credit %} | {% endif %}
                {% if page.image_credit %}
                (📷 {{ page.image_credit }})
                {% endif %}
              </figcaption>
              {% endif %}

              {% endif %}
            </figure>
          </div>

          <h2 id="details">Details</h2>
          <table>
            <tbody>
              {% assign current_year = 'now' | date: "%Y" | plus: 0 %}
              {% assign page_year = page.year | plus: 0 %}
              
              {% if page_year != current_year or page.showtimes == nil or page.showtimes == "" %}
              <tr>
                <td class="leftcol">Year</td>
                <td>{{ page.year }}</td>
              </tr>
              {% endif %}


              {% for detail in page.details %}
                {% if detail[0] != 'Title' %}
                <tr>
                  <td class="leftcol">{{ detail[0] }}</td>
                  <td>
                    {% assign values = detail[1] | split: ', ' %}
                    {% for value in values %}
                    {% if value contains '- wiki' -%}
                    <a target="_blank"
                      href="{{site.wikipedia}}{{ value | replace: ' - wiki', '' | strip | replace: ' ', '_' }}">{{ value |
                      replace: ' - wiki', '' }}</a>
                    {%- elsif detail[0] == 'Website' -%}
                    <a target="_blank" href="{{ value }}" targe="_blank">Production website</a>
                    {%- elsif detail[0] == 'Theatre' -%}
                    <a target="_blank" href="/theatres/{{ value | strip | replace: ' ', '_' }}">{{ value }}</a>
                    {%- elsif detail[0] == 'Venue' -%}
                    <a target="_blank" href="/venues/{{ value | strip | replace: ' ', '_' | replace: "'", "" }}">{{ value }}</a>
                    {%- else -%}
                    {{ value | markdownify | strip | remove: ' <p>' | remove: '</p>' | remove: "\r" | remove: "\n" }}
                      {%- endif %}
                      {%- unless forloop.last -%}, {%- endunless %}
                      {% endfor %}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              {% if page.playbill %}
              <tr>
                <td></td>
                <td class="leftcol">
                  <a target="_blank" href="/media/playbills/{{ page.playbill }}">Playbill</a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        {% if page.showtimes %}
        <div class="showtimes">
          <h2 id="showtimes">Show Times</h2>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% assign showtimes = page.showtimes | newline_to_br | strip | split: '<br />' %}
              {% for showtime in showtimes %}
              {% assign date_time = showtime | date: "%A, %B %-d, %Y %H:%M" %}
              {% assign date = date_time | date: "%A, %B %-d, %Y" %}
              {% assign time = date_time | date: "%-I:%M %P" %}
              <tr>
                <td>{{ date }}</td>
                <td>{{ time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% endif %}

      </div>
      <div class="additional-content">
        <div class="castlist">
          <h2 id="castlist">Cast</h2>
          <table>
            <thead>
              <tr>
                <th>Character(s)</th>
                <th>Actor(s)</th>
              </tr>
            </thead>
            <tbody>
              {% for character in page.cast %}
              <tr>
                <td>{{ character[0] }}</td>
                <td>
                  {% assign cast_member_value = character[1] %}
                  {% assign actors = cast_member_value | newline_to_br | strip | split: '<br />' %}
                  {% for actor in actors -%}
                  {% assign actor_trimmed = actor | strip %}
                  <a href="/people/{{ actor_trimmed | replace: ' ', '_' | replace: '.', '' }}">{{ actor_trimmed }}</a>{%
                  unless forloop.last %},
                  {% endunless %}
                  {%- endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="crewlist">
          <h2 id="crewlist">Crew</h2>
          <table>
            <thead>
              <tr>
                <th>Title(s)</th>
                <th>Member(s)</th>
              </tr>
            </thead>
            <tbody>
              {% for title in page.crew %}
              <tr>
                <td>{{ title[0] }}</td>
                <td>
                  {% assign crew_member_value = title[1] %}
                  {% assign members = crew_member_value | newline_to_br | strip | split: '<br />' %}
                  {% for member in members -%}
                  {% assign member_trimmed = member | strip %}
                  <a
                    href="/people/{{ member_trimmed | replace: ' ', '_' | replace: '.', '' }}">{{ member_trimmed }}</a>{%
                  unless forloop.last %},
                  {% endunless %}
                  {%- endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% if page.photos %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
        <h2 id="Photo Gallery">Photo Gallery</h2>
        <div class="photo-gallery">

          {% for photo in page.photos %}
          {% capture alt_text %}
          {% if photo.photo_alt %}{{ photo.photo_alt }}
          {% else %}{{ page.title }}
          {% endif %}
          {% endcapture %}
          <figure class="photo">
            <a href="{{ '/media/photos/' | append: photo.photo }}" data-lightbox="gallery"
              data-title="{{ photo.photo_caption }}{% if photo.photo_caption and photo.photo_credit %} | {% endif %}{{ photo.photo_credit }}"><img
                src="{{ '/media/photos/' | append: photo.photo }}" alt="{{ alt_text }}" /></a>
            {% if photo.photo_caption or photo.photo_credit %}
            <figcaption>
              {% if photo.photo_caption %}
              {{ photo.photo_caption }}
              {% endif %}
              {% if photo.photo_caption and photo.photo_credit %} | {% endif %}
              {% if photo.photo_credit %}
              (📷 {{ photo.photo_credit }})
              {% endif %}
            </figcaption>
            {% endif %}
          </figure>
          {% endfor %}
        </div>
        {% endif %}

        {% if site.inc_after_content %}
        {% include {{ site.inc_after_content }} %}
        {% endif %}
  </section>
</div>