<div class="git-wiki-page">
  <section>

    {% include git-wiki/sections/tools/tools.html %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-productions-content">
      <div class="showdescription">
        <h1>{{page.title}}</h1>

        {{ content }}
      </div>

      <div class="sidebar">
        <div class="details">
          <h6>{{ page.title }}</h6>
          
          <div class="featured_image">
            {% if page.image %}
            {% capture alt_text %}
            {% if page.image_alt %}{{ page.image_alt }}
            {% else %}{{ page.title }}
            {% endif %}
            {% endcapture %}
            <figure class="image">

              <img src="{{ '/media/posters/' | append: page.image }}" alt="{{ alt_text }}">
              {% if page.image_caption or page.image_credit %}
              <figcaption>
                {% if page.image_caption %}
                {{ page.image_caption }}
                {% endif %}
                {% if page.image_caption and page.image_credit %} | {% endif %}
                {% if page.image_credit %}
                (📷 {{ page.image_credit }})
                {% endif %}
              </figcaption>
              {% endif %}

              {% endif %}
            </figure>
          </div>

          <h2 id="details">Details</h2>
          <table>
            <tbody>
              {% for detail in page.details %}
              <tr>
                <td class="leftcol">{{ detail[0] }}</td>
                <td>
                  {% if detail[0] == 'Title' %}
                  {% assign values = detail[1] | split: '|nonexistent|' %}
                  {% else %}
                  {% assign values = detail[1] | split: ', ' %}
                  {% endif %}
                  {% for value in values %}
                  {% if value contains '- wiki' -%}
                  <a target="_blank"
                    href="{{site.wikipedia}}{{ value | replace: ' - wiki', '' | strip | replace: ' ', '_' }}">{{ value |
                    replace: ' - wiki', '' }}</a>
                  {%- elsif detail[0] == 'Website' and detail[1] != empty and detail[1] != null -%}
                  <a target="_blank" href="{{ value }}" targe="_blank">Official website</a>
                  {%- elsif detail[0] == 'Premiere' and detail[1] != empty and detail[1] != null -%}
                  {{ value | date: "%B %d, %Y" }}
                  {%- elsif detail[0] == 'Venue' -%}
                  <a target="_blank" href="/venues/{{ value | strip | replace: ' ', '_' }}">{{ value }}</a>
                  {%- else -%}
                  {{ value | markdownify | strip | remove: '<p>' | remove: '</p>' | remove: "\r" | remove: "\n" }}
                  {%- endif %}
                  {%- unless forloop.last -%}, {%- endunless %}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
              {% if page.playbill %}
              <tr>
                <td></td>
                <td class="leftcol">
                  <a target="_blank" href="/media/playbills/{{ page.playbill }}">Playbill</a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

      </div>
      <div class="additional-content">
        
        <h2>Productions</h2>

        {% assign current_page_title = page.title %}
        {% assign matching_productions = "" | split: "" %}
        
        {% for p in site.productions %}
        {% if p.title == current_page_title %}
        {% capture production_info %}
        {% assign year = p.year | plus: 0 %}
        {% assign info = year | append: "," | append: p.url | append: "," | append: p.title | append: "," | append:
        p.details.Theatre | append: "," | append: p.details.Venue %}
        {{ info }}
        {% endcapture %}
        {% assign matching_productions = matching_productions | push: production_info %}
        {% endif %}
        {% endfor %}
        
        {% assign sorted_productions = matching_productions | sort | reverse %}
        
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>Title</th>
              <th>Theatre</th>
              <th>Venue</th>
            </tr>
          </thead>
          <tbody>
            {% for production_info in sorted_productions %}
            {% assign info_parts = production_info | split: "," %}
            {% assign year = info_parts[0] %}
            {% assign url = info_parts[1] %}
            {% assign title = info_parts[2] %}
            {% assign theatre = info_parts[3] %}
            {% assign venue = info_parts[4] %}
            <tr>
              <td>{{ year }}</td>
              <td><a href="{{ url }}">{{ title }}</a></td>
              <td><a href="/theatres/{{ theatre | strip | replace: ' ', '_' | replace: '.', '' }}">{{ theatre }}</a></td>
              <td><a href="/venues/{{ venue | strip | replace: ' ', '_' }}">{{ venue }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if page.photos %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
        <h2 id="Photo Gallery">Photo Gallery</h2>
        <div class="photo-gallery">

          {% for photo in page.photos %}
          {% capture alt_text %}
          {% if photo.photo_alt %}{{ photo.photo_alt }}
          {% else %}{{ page.title }}
          {% endif %}
          {% endcapture %}
          <figure class="photo">
            <a href="{{ '/media/photos/' | append: photo.photo }}" data-lightbox="gallery"
              data-title="{{ photo.photo_caption }}{% if photo.photo_caption and photo.photo_credit %} | {% endif %}{{ photo.photo_credit }}"><img
                src="{{ '/media/photos/' | append: photo.photo }}" alt="{{ alt_text }}" /></a>
            {% if photo.photo_caption or photo.photo_credit %}
            <figcaption>
              {% if photo.photo_caption %}
              {{ photo.photo_caption }}
              {% endif %}
              {% if photo.photo_caption and photo.photo_credit %} | {% endif %}
              {% if photo.photo_credit %}
              (📷 {{ photo.photo_credit }})
              {% endif %}
            </figcaption>
            {% endif %}
          </figure>
          {% endfor %}
        </div>
        {% endif %}

      {% if site.inc_after_content %}
      {% include {{ site.inc_after_content }} %}
      {% endif %}
  </section>
</div>