<div class="git-wiki-page">
  {% include git-wiki/sections/tools/tools.html %}

  {% if site.inc_before_content %}
  {% include {{ site.inc_before_content }} %}
  {% endif %}

  <div id="git-wiki-theatre-content">
    <h1>{{page.title}}</h1>

    {{ content }}

    {% assign theatre_name = page.title %}
    {% assign theatre_shows = "" | split: "" %}

    {% for p in site.pages %}
      {% if p.details and p.details.Theatre and p.showtimes and p.details.Theatre == theatre_name %}
        {% assign show_year = p.showtimes | newline_to_br | strip_html | split: " " | first | split: "-" | first %}
        {% assign show_start_date = p.showtimes | newline_to_br | strip_html | split: " " | first %}
        {% assign modified_title = p.title | slice: -7, 7 %}
        {% if modified_title contains " (" %}
          {% assign title_length = p.title | size %}
          {% assign title_length_minus_seven = title_length | minus: 7 %}
          {% assign modified_title = p.title | slice: 0, title_length_minus_seven %}
        {% else %}
          {% assign modified_title = p.title %}
        {% endif %}
        {% capture show_info %}<tr><td>{{ show_year }}</td><td><a href="{{ p.url }}">{{ modified_title }}</a></td></tr>{% endcapture %}
        {% unless theatre_shows contains show_info %}
          {% assign theatre_shows = theatre_shows | push: show_info %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% assign theatre_shows_sorted = "" | split: "" %}
    {% for show_info in theatre_shows %}
    {% assign show_date = show_info | split: " " | first %}
    {% assign inserted = false %}
    {% for sorted_info in theatre_shows_sorted %}
    {% assign sorted_date = sorted_info | split: " " | first %}
    {% if show_date < sorted_date %}
    {% assign theatre_shows_sorted = theatre_shows_sorted | insert_at: forloop.index0, show_info %}
    {% assign inserted = true %}
    {% break %}
    {% endif %}
    {% endfor %}
    {% if inserted == false %}
    {% assign theatre_shows_sorted = theatre_shows_sorted | push: show_info %}
    {% endif %}
    {% endfor %}

    {% if theatre_shows_sorted.size > 0 %}
    <div class="theatreshows">
      <h2>Shows:</h2>
      <table>
        <thead>
          <tr>
            <th>Show</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          {% for show_info in theatre_shows_sorted %}
          {{ show_info }}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </div>