<div class="upcoming_productions">

  <h3>Current & Upcoming Productions</h3>

  <style>
  ul.showtimes {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul.showtimes li {
    margin-bottom: 1em;
  }
  </style>

  <style>
  ul.showtimes {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul.showtimes li {
    margin-bottom: 1em;
  }
  </style>

  <style>
  ul.showtimes {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul.showtimes li {
    margin-bottom: 1em;
  }
  ul span.production_title {
    font-weight: 600;
  }
  </style>

  <ul class="showtimes">
  {% assign today = site.time | date: "%Y-%m-%d" | date: "%s" %}
  {% assign max_date = today | plus: 2592000 | date: "%s" %}
  {% assign showtimes = "" | split: "" %}
  {% for production in site.productions %}
    {% if production.showtimes %}
      {% assign first_showtime = true %}
      {% for showtime in production.showtimes %}
        {% assign showtime_date = showtime | date: "%s" %}
        {% if showtime_date >= today and showtime_date <= max_date and first_showtime %}
          {% assign showtime_info = showtime_date | append: "|" | append: production.title | append: "|" | append: production.details.Theatre | append: "|" | append: production.url %}
          {% assign showtimes = showtimes | push: showtime_info %}
          {% assign first_showtime = false %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% assign sorted_showtimes = showtimes | sort %}
  {% for showtime_info in sorted_showtimes %}
    {% assign showtime_parts = showtime_info | split: "|" %}
    {% assign production_title = showtime_parts[1] %}
    {% assign theatre = showtime_parts[2] %}
    {% assign production_url = showtime_parts[3] %}
    <li><a href="{{ production_url }}"><span class="production_title">{{ production_title }}</span> at {{ theatre }}</a></li>
  {% endfor %}
  </ul>



</div>